<%- include('partials/header', { title, user }) %>
<section class="page-head">
  <h1>Page not found</h1>
  <p>The page you requested does not exist.</p>
  <a class="btn" href="/">Back Home</a>
</section>
<%- include('partials/footer') %>
